@model Dictionary<string, int>

<!DOCTYPE html>
<html>
<head>
    <title>Abductions Per Month</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1 class="pt-4 mb-4">Abductions Per Month</h1>

        <form asp-controller="Abduction" asp-action="AbductionsPerMonth" method="post" class="mb-4">
            <div class="form-group">
                <label for="fromDate">From Date:</label>
                <input type="date" name="fromDate" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="toDate">To Date:</label>
                <input type="date" name="toDate" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success bg-color" >Get Abductions Per Month</button>
            <a class="btn btn-secondary" asp-action="Abduction">Back</a>
        </form>

        @if (Model != null)
        {
            if (Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Abduction Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var entry in Model)
                        {
                            <tr>
                                <td>@entry.Key</td>
                                <td>@entry.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="mt-4">No abductions found for the specified date range.</p>
            }
        }
    </div>

</body>
</html>

