@model AlienProject.Models.Spaceshipp

@{
    ViewData["Title"] = "Add";
}


<div class="container pt-5">
    <h1 class="text-center">Add</h1>

    <h4 class="text-center">Spaceshipp</h4>
    <hr />

    <div class="row justify-content-center">


    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpaceshipId" class="control-label"></label>
                <input asp-for="SpaceshipId" class="form-control" />
                <span asp-validation-for="SpaceshipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpaceshipName" class="control-label"></label>
                <input asp-for="SpaceshipName" class="form-control" />
                <span asp-validation-for="SpaceshipName" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-3">
                <input type="submit" value="Create" class="btn btn-success bl-color" />
                 <a class="btn btn-secondary" asp-action="SpaceShips">Back to List</a>
                
            </div>
            
        </form>
    </div>
</div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
