@model List<string>

<!DOCTYPE html>
<html>
<head>
    <title>Spaceships Visited by Human</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1 class="pt-4 mb-4">Spaceships Visited by Human</h1>

        <form asp-controller="SpaceShip" asp-action="FindPeople" method="post" class="mb-4">
            <div class="form-group">
                <label for="humanId">Human Name:</label>
                <input type="text" name="humanName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="fromDate">From Date:</label>
                <input type="date" name="fromDate" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="toDate">To Date:</label>
                <input type="date" name="toDate" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success bg-color">Find Spaceships Visited</button>
            <a class="btn btn-secondary" asp-action="SpaceShips">Back</a>
        </form>

        @if (Model != null)
        {
            if (Model.Any())
            {
                <ul class="list-group">
                    @foreach (var spaceshipName in Model)
                    {
                        <li>@spaceshipName</li>
                    }
                </ul>
            }
            else
            {
                <p class="mt-4">No spaceships visited by the specified human in the given period.</p>
            }
        }
    </div>
</body>
</html>
