<div class="bg-black text-white h-auto m-0 p-0 w-auto">
    <h1 class=" font-size-heading text-center pt-5  custom-bold"> About <span class="text-color">Samky Bohomola!</span></h1>
    <div class="container mt-5 pb-250px text-black">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-9 mb-4">
                <div class="bg-color p-4 text-center rounded-3">
                    <h2 class="fw-bold">Our Team</h2>
                    <p>
                        Одного разу п'ять вчених вирішили об'єднати свої сили і створити команду для дослідження найзагадковіших явищ у всесвіті. Їхня мета - розкрити всі секрети прибульців. І ось вони, велика і неперевершена команда "Самки богомола"!
                        На чолі з команди стоїть Мирослав Ключковський, чий розум безмежний, як космічний простір. Він - наш боломол, що завжди готовий здивувати своїми відкриттями і винаходами.
                        Його права рука, або, можливо, краще сказати, права коса, - це Кос Юля. За її неймовірною енергією та веселим підходом до науки навіть прибульці залишилися б вражені.
                        Паничок Олена - вчений з досвідом у вивченні непізнаних форм життя. Її аналітичний розум і чуття гумору - справжній ключ до розкриття таємниць прибульців.
                        Терада Емілія - геній генетики та біології, яка розкриває всі таємниці прибульців на молекулярному рівні. Її дослідження змінили наше розуміння іншоземного життя.
                        Не менш важливою членкою команди є Гупало Олеся. Її талант у створенні вражаючих технологій та винаходів робить її необхідною ланкою в цій науковій мафії.
                        Так от, команда "Самки богомола" вивчає прибульців не лише науково, а й з гарним настроєм та посмішками. Їхні відкриття можуть здивувати не лише Землю, але й всесвіт. Хто б міг подумати, що наука про прибульців може бути такою веселою та захоплюючою!
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>