@using AlienProject.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-black text-white h-auto m-0 p-0 w-auto">
    <h1 class=" font-size-heading text-center pt-5  custom-bold"> Discover our new <span class="text-color">Aliens!</span> <img class="bogomol" src="images/bogomol.png" /></h1>
    <div class="image-container">
            <img class="img-fluid" src="images/background-home.svg" alt="Background Image"/>
            <div class="names-container d-flex justify-content-around px-5 align-items-center">
              <span class="p-3 ">Olenka</span>
              <span>Julia</span>
              <span class="fw-bold myroslav text-color">Myroslav</span>
              <span>Olesia</span>
              <span class="p-3">Emma</span>
            </div>
          </div>
      
    <h1 class=" font-size-heading text-center pt-250px custom-bold"> How it <span class="text-color" >works?</span></h1>
    <div class="container mt-5 pb-250px text-black">
        <div class="row ">
            <div class="col-lg-4 col-md-6 mb-4 ">
                <div class="bg-color  p-4 text-center rounded-3">
                    <h2 class="fw-bold">Overall</h2>
                    <p>Ви можете користвуватися нашим сайтом, але ви будете бачити тільки загальну інформацію. Для повноцінного користування і відкриття усіх можливостей перейдіть на сторінки Login або Registration.</p>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-color p-4 text-center rounded-3">
                    <h2 class="fw-bold">Registration</h2>
                    <p>Заповніть всі відповідні блоки, якщо ви вважаєте себе прибульцем то блок "Email" заповніть, починаючи із "alien". Наприклад: "alien23@@gmail.com". За допомогою цього ми зможемо вас ідентифікувати.  </p>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-color p-4 text-center rounded-3 ">
                    <h2 class="fw-bold">Login</h2>
                    <p>Якщо ви вже зареєстровані, то заповніть відповідні блоки. В залежності хто ви(Людина чи Прибулець) буде висвітленна різна інформація. Для детільнішої інформації читайте наступні блоки.</p>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-color p-4 text-center rounded-3">
                    <h2 class="fw-bold">Site Details</h2>
                    <p>Якщо ви авторизувалися чи зареєструвалися, ви можете повноцінно користуватися нашим сайтом. Тобто вам відкриті можливості додання нових записів, редагування записів, відкриття нових сторінок для пошуку особливих даних. Детальніше про пошук особливих даних в наступних блоках.</p>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-color p-4 text-center rounded-3">
                    <h2 class="fw-bold">Alien or Human</h2>
                    <p>Після авторизації вам відкривається нова сторінка: Aliens або Humans. На цій сторінці відображаються стрічки "Find Common Experiments and Excursions" і "Add". Відповідають за знаходження спільних екскурсів і експериментів для людей і прибульців, а також додання нових записів відповідно.  </p>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-color p-4 text-center rounded-3">
                    <h2 class="fw-bold">Spaceship</h2>
                    <p>На сторінці Spaceship, після авторизації появилися стрічки: "Add", "Find People", "Find Experiment". "Add" - добавлення нових записів до бази даних. "Find People" - знаходить людей, які відвідали вибраний корабель. "Find Experiment" - знаходить кільцість експериментів, які були проведені на кораблі, вибраним прибульцем. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-color p-4 text-center rounded-3">
                    <h2 class="fw-bold">Experiment</h2>
                    <p>На даній сторінці відображається єдина стрічка "Find Experiment", яка відповідає за знаходження людей над якими проводили експерименти N різних прибульців.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-color p-4 text-center rounded-3">
                    <h2 class="fw-bold">Excursion</h2>
                    <p>На даній сторінці відображається єдина стрічка "Find Excursions For Aliens", яка відповідає за знаходження прибульців, які проводять екскурсії мінімум N людям.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-color p-4 text-center rounded-3">
                    <h2 class="fw-bold">Killing</h2>
                    <p>На даній сторінці відображається єдина стрічка "Find Killed Alien", яка відповідає за знаходження прибульців, які були вбиті відповідною людиною, в певному проміжку часу. </p>
                </div>
            </div>

            
               <img class="img-fluid img-bottom" src="images/bgdown.jpg" alt="Background Image"/>
        </div>
    </div>
         

</div>
